/* Custom Css for Google Maps Bank */ 
.custom-label-width-adv-setting
{
	width : 200px !important;
}
.custom-layout-adv-setting
{
	margin-left: 200px !important;
}
.custom-label-width-maps
{
	width : 150px !important;
}
.custom-layout-controls-maps
{
	margin-left: 150px !important;
}
.rdl_maps
{
	margin-top:9px;
}
.span-custom-maps
{
	font-size: 11px;
	font-style: italic;
	clear: both;

}
.wp-map-custom-layout-control
{
	margin-top:7px;
}
.layout-system-report {
	display: none;
	margin: 10px 0;
	padding: 0;
	position: relative;
}
.close-report
{
 display: none;
}
.layout-system-report textarea {
	font-family: monospace;
	width: 100%;
	margin: 0;
	height: 300px;
	padding: 20px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	resize: none;
	font-size: 12px;
	line-height: 20px;
	outline: 0;
}
div.loader {
	background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
	height: 32px;
	width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
.info-window-image
{
	height:100px;
	width:105px;
	border: 1px solid #000000;
}
.bulk-action-width
{
	width:144px;
} 
.info-window-image
{
	height:100px;
	width:105px;
	border: 1px solid #000000;
}
.info-window_desc
{
	font-style: italic;
	text-align:justify;
	margin: 0px;
}
.uploaded_img
{
	height:26px; 
	padding: 8px;
}
.layout-form .layout-control-label-map
{
	width: 212px;
}
.check-bottom
{
	margin-bottom: 5px;
	display: block;
}
.layout-form .map-layout-controls-label {
    vertical-align: top;
}
.custom-layout-controls-map-plugin
{
	margin-left: 212px !important;
}
.layout-controls-map
{
	margin-left: 212px !important;
}
.custom-layout-label {
    width: 130px;
    display: inline-block;
}
.tooltip_img
{
 vertical-align:middle;
 width:15px !important;
}
.layout-form .layout-control-label-location
{
	width: 180px;
}
.tooltip { position: absolute; z-index: 10300; display: block; visibility: visible; padding: 5px; font-size: 12px; opacity: 0; filter: alpha(opacity=0); }
.tooltip.in { opacity: 0.8; filter: alpha(opacity=80); }
.tooltip.top { margin-top: -3px; }
.tooltip.right { margin-left: 5px; }
.tooltip.bottom { margin-top: 3px; }
.tooltip.left { margin-left: -3px; }
.tooltip-inner { max-width: 200px; padding: 3px 8px; color: #ffffff; text-align: center; text-decoration: none; background-color: #202020; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #000000; }
.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-width: 5px 5px 5px 0; border-right-color: #000000; }
.tooltip.left .tooltip-arrow {  top: 50%; right: 0; margin-top: -5px; border-width: 5px 0 5px 5px; border-left-color: #000000; }
.tooltip.bottom .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-width: 0 5px 5px; border-bottom-color: #000000; }

.layout-form .layout-control-label-location
{
	width: 170px;
}
.custom-layout-controls-map-location
{
	margin-left: 170px !important;
}
.layout-controls-location
{
	margin-left: 170px !important;
}
.fluid-layout .layout-span-map3 
{
    width: 24.404255319148934%;
    *width: 24.351063829787233%;
}
.layout-span-map1
{
	 width: 32.404255319148934%;
}

.custom-layout-labe-shortcode {
    width: 165px;
    display: inline-block;
}
#TB_ajaxContent
{
	width:700px !important;
	height:850px !important;
}
.manage{
	margin-top: 8px;
}

.color_map
{
color:#dc334b!important;
}
.widget_premium_feature
{
	color: #FF0000;
	font-size: 13px !important;
}
#wpadminbar a 
/* Custom Css for Google Maps Bank */